* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--clr1);
    font-family: cursive;
    font-size: 1.5em;
}

.main-layout {
    margin-inline-end: 20px;
    margin-inline-start: 20px;
}

.head-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-container {
    display: flex;
}

.map-container {
    display: flex;
    height: 18em;
    width: 96%;
    margin-inline-start: 1em;
    min-width: 18em;
    margin-inline-end: 1em;
}

.head-btn {
    display: flex;
    align-items: flex-end;
}

.info-container {
    display: flex;
    background-color: #97b4bf;
    flex-direction: column;
    justify-content: space-around;
    max-width: 20em;
    min-width: 15em;
    min-height: 18em;
}

.info-container span {
    font-size: 0.8em;
}

button {
    height: 4em;
    width: 9em;
}